<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>switchskilss.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0AD37B7CCDD700D48EB02327F8EB6F918AEC4BEC</string>
				<key>dateExpires</key>
				<string>24/09/2024</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AD37B7CCDD700D48EB02327F8EB6F918AEC4BEC</string>
						<key>dateExpires</key>
						<string>24/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24432YHGQ2</string>
						<key>name</key>
						<string>Dag Malstaf</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AD37B7CCDD700D48EB02327F8EB6F918AEC4BEC</string>
						<key>dateExpires</key>
						<string>24/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24432YHGQ2</string>
						<key>name</key>
						<string>Dag Malstaf</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AD37B7CCDD700D48EB02327F8EB6F918AEC4BEC</string>
						<key>dateExpires</key>
						<string>24/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24432YHGQ2</string>
						<key>name</key>
						<string>Dag Malstaf</string>
					</dict>
					<key>versionNumber</key>
					<string>10.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AD37B7CCDD700D48EB02327F8EB6F918AEC4BEC</string>
						<key>dateExpires</key>
						<string>24/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24432YHGQ2</string>
						<key>name</key>
						<string>Dag Malstaf</string>
					</dict>
					<key>versionNumber</key>
					<string>10.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AD37B7CCDD700D48EB02327F8EB6F918AEC4BEC</string>
						<key>dateExpires</key>
						<string>24/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24432YHGQ2</string>
						<key>name</key>
						<string>Dag Malstaf</string>
					</dict>
					<key>versionNumber</key>
					<string>10.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AD37B7CCDD700D48EB02327F8EB6F918AEC4BEC</string>
						<key>dateExpires</key>
						<string>24/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24432YHGQ2</string>
						<key>name</key>
						<string>Dag Malstaf</string>
					</dict>
					<key>versionNumber</key>
					<string>10.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AD37B7CCDD700D48EB02327F8EB6F918AEC4BEC</string>
						<key>dateExpires</key>
						<string>24/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24432YHGQ2</string>
						<key>name</key>
						<string>Dag Malstaf</string>
					</dict>
					<key>versionNumber</key>
					<string>10.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AD37B7CCDD700D48EB02327F8EB6F918AEC4BEC</string>
						<key>dateExpires</key>
						<string>24/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24432YHGQ2</string>
						<key>name</key>
						<string>Dag Malstaf</string>
					</dict>
					<key>versionNumber</key>
					<string>10.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AD37B7CCDD700D48EB02327F8EB6F918AEC4BEC</string>
						<key>dateExpires</key>
						<string>24/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24432YHGQ2</string>
						<key>name</key>
						<string>Dag Malstaf</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AD37B7CCDD700D48EB02327F8EB6F918AEC4BEC</string>
						<key>dateExpires</key>
						<string>24/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24432YHGQ2</string>
						<key>name</key>
						<string>Dag Malstaf</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AD37B7CCDD700D48EB02327F8EB6F918AEC4BEC</string>
						<key>dateExpires</key>
						<string>24/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24432YHGQ2</string>
						<key>name</key>
						<string>Dag Malstaf</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AD37B7CCDD700D48EB02327F8EB6F918AEC4BEC</string>
						<key>dateExpires</key>
						<string>24/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_keyboard_visibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24432YHGQ2</string>
						<key>name</key>
						<string>Dag Malstaf</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AD37B7CCDD700D48EB02327F8EB6F918AEC4BEC</string>
						<key>dateExpires</key>
						<string>24/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24432YHGQ2</string>
						<key>name</key>
						<string>Dag Malstaf</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AD37B7CCDD700D48EB02327F8EB6F918AEC4BEC</string>
						<key>dateExpires</key>
						<string>24/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24432YHGQ2</string>
						<key>name</key>
						<string>Dag Malstaf</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AD37B7CCDD700D48EB02327F8EB6F918AEC4BEC</string>
						<key>dateExpires</key>
						<string>24/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24432YHGQ2</string>
						<key>name</key>
						<string>Dag Malstaf</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AD37B7CCDD700D48EB02327F8EB6F918AEC4BEC</string>
						<key>dateExpires</key>
						<string>24/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24432YHGQ2</string>
						<key>name</key>
						<string>Dag Malstaf</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>24432YHGQ2.com.example.switchskilss</string>
				<key>com.apple.developer.team-identifier</key>
				<string>24432YHGQ2</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>322a257f-49df-4c87-8c15-a2d3c754434f</string>
				<key>dateExpires</key>
				<string>24/09/2024</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.example.switchskilss</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>24432YHGQ2</string>
				<key>name</key>
				<string>Dag Malstaf</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
